*{
	margin: 0;
	padding: 0;
}
body{

   font-family: 'Montserrat', sans-serif;
   font-family: 'Lato', sans-serif;
}

.Inicio {
	bottom:0px;
	left:0px;
	background:#2C3E50;
	background-size: 100%;
	width:100%;
	height:100px;

}
.Inicio h1{
	float: left;
	font-size: 30px;
	margin-left:100px;
	margin-top:30px;
	left: 100px;
	top:30px;
	color:#FFFFFF;
}
.Inicio ul {
	list-style: none;
	top:30px;
	text-decoration: none;
    
}

.Inicio li{
	float:right;
	margin-top: 40px;
	margin-right:50px;
	display:inline-block;
	color:#FFF;
	text-align: right;

}

.Inicio a:active{

	color:#2C3E50;
	background:#2C3E50;
}

header.bajada{
	position: relative;
	bottom:0px;
	left:0px;
	background:#18BC9C;
	background-position: center;
	background-size: 100%;
	width:100%;
	height: 650px;
}

header.bajada img{
	position: absolute;
	background-size: 100%;
	width:230px;
	height: 230px;
	top:80px;
	left: 600px;

}
header.bajada h1{
	position:absolute; 
	color:#fff;
	font-size:100px; 
	text-anchor:150px;
	text-align: center;
	top:300px;
	left:350px;
}
header.bajada h2{
	position:absolute; 
	color:#fff;
	font-size:25px; 
	text-anchor:150px;
	text-align: center;
	top:520px;
	left:370px;
}	
	

.bajada.fa.fa-star{
	font-size:100px;
	background-color:#18BC9C; 
}


 .fa-star:before {
	position: absolute;
	color:#FFF;
	top:440px;
	left: 720px;
	font-size:40px;
}
   
 .portafolio {
 	position: relative;
	bottom:0px;
	left:0px;
	background:#fff;
	background-position: center;
	background-size: 100%;
	width:100%;
	height: 700px;
 }

.portafolio h1{

	position: absolute;
	text-align: center;
	margin-left: 500px;
	margin-top: 70px;
	font-size:80px;

}

  
 .imagen1 img{
	float: left;
	width: 350px;
	height: 250px;
	margin:20px;
	margin-top:200px;
	margin-left:100px;

}
.imagen2 img{
	float: left;
	width: 350px;
	height: 250px;
	margin:20px;
	margin-top:200px;

}
.imagen3 img{
	float: left;
	width: 350px;
	height: 250px;
	margin:20px;
	margin-top:200px;
	
}
.imagen4 img{
	float: left;
	width: 350px;
	height: 250px;
	margin:20px;
	margin-top:20px;
	margin-left:100px;
}
.imagen5 img{
	float: left;
	width: 350px;
	height: 250px;
	margin:20px;
	
	
}
.imagen6 img{
	float: left;
	width: 350px;
	height: 250px;
	margin:20px;
	
	
}
header.centro{
 	position: relative;
 	top:200px;
	bottom:0px;
	left:0px;
	background:#18BC9C;
	background-position: center;
	background-size: 100%;
	width:100%;
	height: 500px;
}
.centro h1{
	position: absolute;
	color:#fff;
	left:600px;
	top:50px;
	font-size: 45px;
}





#firts{
position: absolute;
left: 250px;
width: 350px;
height: 200px;
color: #fff;  
top:200px;
text-align: justify;
font-size: 20px;


}

#second{
position:absolute;
width:400px;
height: 350px;
text-align:justify;
color: #fff;  
top: 200px;
color:#fff;
left: 700px;
font-size:20px;

}

.fa-fa-download{
	font-size: 50px;
	padding: 10px;
}
.fa-download{

	position: absolute;
	top:400px;
	left:650px;
	color:#FFF;
	border: 2px solid #fff;
	font-size: 40px;
}
.Contacto{

 	position: relative;
 	top:250px;
	bottom:0px;
	left:200px;
	width:100%;
	height: 500px;
 }

 form.contacto{
 	float:left;
 	
 }
 
 .Contacto h1{

 	font-size: 30px;
 	color:#3C3737;
 	left: 500px;
 	top:100px;
 	margin-top: 30px;

 }

 [type=text] {

  margin: 0 auto;
  width: 40%;
  border: 0;
  margin-top: 40px;
  border-bottom: 1px solid #DDD4D4;
  line-height: 30px;  
  font-size: 1em;
  
}
 
[type='text']:focus {
   outline: none;
   border-color: #53CACE;
}
.send h2 {

	position: absolute;
	margin-top:150px;
	margin-left: 400px;
	text-align: center;
	color: #fff;
	background-color:#18BC9C;
	font-size: 20px;
	width: 70px;
	height:30px; 
	border-radius: 3px;
}
.footer {
	position: relative;
	top:300px;
	left:0px;
	background:#2C3E50;
	background-position: center;
	background-size: 100%;
	width:100%;
	height: 300px;
}

.tabla1 ul{

	float: left;
	top:100px;
	list-style: none;
   	padding: 0;
	margin-left:200px;
	margin-top:80px;
	line-height:30px;

}
.tabla1 li{

	top:150px;
	color: #fff;
	
}
.tabla2 ul{

	float: left;
	top:100px;
	list-style: none;
   	padding: 0;
	margin-left:200px;
	margin-top:80px;
	line-height:30px;

}
.tabla2 li{

	top:150px;
	color: #fff;
	
}


.fa.fa-facebook{

 	position: absolute;
    display: inline-block;
    font-size:25px;	
    color: #fff;
	width: 100px;
	height: 100px;
	left: 521px;
	top:118px;
}
.circulo2{
	position: absolute;
	border: 2px solid white;
    border-radius: 50%;
    color: #fff;
	width: 40px;
	height: 40px;
	left: 510px;
	top:110px;
}

.fa.fa-google-plus-official{

 	position: absolute;
    display: inline-block;
    font-size:25px;	
    color: #fff;
	width: 100px;
	height: 100px;
	left: 575px;
	top:118px;
}

.circulo3 {

	position: absolute;
	border: 2px solid white;
    border-radius: 50%;
    color: #fff;
	width: 40px;
	height: 40px;
	left: 565px;
	top:110px;
}

.fa.fa-twitter{

 	position: absolute;
    display: inline-block;
    font-size:25px;	
    color: #fff;
	width: 100px;
	height: 100px;
	left: 631px;
	top:119px;
}

.circulo4 {

	position: absolute;
	border: 2px solid white;
    border-radius: 50%;
    color: #fff;
	width: 40px;
	height: 40px;
	left: 620px;
	top:110px;
}

.fa.fa-linkedin{

 	position: absolute;
    display: inline-block;
    font-size:25px;	
    color: #fff;
	width: 100px;
	height: 100px;
	left: 681px;
	top:119px;
}

.circulo5 {

	position: absolute;
	border: 2px solid white;
    border-radius: 50%;
    color: #fff;
	width: 40px;
	height: 40px;
	left: 670px;
	top:110px;
}
.fa.fa-dribbble{

 	position: absolute;
    display: inline-block;
    font-size:25px;	
    color: #fff;
	width: 100px;
	height: 100px;
	left: 731px;
	top:119px;
}

.circulo6 {

	position: absolute;
	border: 2px solid white;
    border-radius: 50%;
    color: #fff;
	width: 40px;
	height: 40px;
	left: 720px;
	top:110px;
}

.tabla3 ul{

	float: left;
	top:100px;
	list-style: none;
   	padding: 0;
	margin-left:200px;
	margin-top:80px;
	line-height:30px;

}

.tabla3 h1{
	font-size: 20px;


}

.tabla3 span{
	color:#18BC9C;
}
.tabla3 li{

	top:150px;
	color: #fff;
	
}

div.fa.fa-copyright{
	position: absolute;
	color:#fff;
	top:400px;
	left:500px;

}




